.backgroud {
    background-color: #d6ccc2;
    padding: 4%;
    width: 16rem;
    height: 19rem;
    margin: 5%;
}

.backgroud:hover {
    box-shadow: 10px 8px 19px 0px gray;    
    cursor: pointer;
}

mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}


